<div class="page-content landing-desc gradient-page">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" style="padding: 50px 20px;">
                    <h5 class="card-title" style="font-size: xx-large;">Selamat Datang</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="font-size: x-large;"><b>Hachi Eight </b>Hadir Sebagai platform 'Pemikiran Terbuka' di indonesia pertama</h6>
                    <!-- <p class="card-text">
                        Mulai untuk menjadi salah satu member kami, untuk ikut ambil bagian dari perubahan generasi di masyarakat indonesia.
                    </p> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-1">
                <div class="half-box"></div>
                <div class="card-body" align="center">
                    <h5 class="card-title" style="font-size: x-large;">Your Chance</h5>
                    <div class="card-text" style="font-size: large;"> 
                        <label class="italic">"One More Time, One More Chance"</label><label class="bold">- Yamazaki Masayoshi</label>
                        <br> 
                        <label >
                            Sadarkah kamu kalau ini adalah kesempatan terbaik kamu untuk ikut bergabung dan mengawali perubahan besar untuk indonesia.
                            <br> mungkin sudah terlalu banyak kesempatan yang terlewatkan untuk mu, namun belum berarti kamu terlambat. 
                            <br> Kami berupaya menyatukan berbagai Ide dan menerapkan nya secara langsung.
                            <br>Berikan ide mu atau bergabung lah menjadi salah satu dari Kami
                            <br>
                        </label>
                        <br>
                        <button type="button" class="btn btn-info" onclick="location.href = '#/idea-writer'">Write Ideas</button>
                        <button type="button" class="btn btn-primary"  onclick="location.href = '#/sign-up'">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-2">
                <div class="half-box"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        Recent Ideas
                        <button type="button" class="btn btn-primary" style="position: absolute;right: 25px;top: 10px;">View all ideas</button>
                    </h5>
                    <div class="card-text">
                        <div class="row idea-list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Frequent Problems</h5>
                    <div class="card-text" style="text-indent: 2rem;"  align="justify"> 
                        <b>Banyak dari pemuda atau pemudi indonesia</b> tidak tahu atau tidak memiliki wadah untuk menuangkan ide/pendapat nya secara Massal. <br>
                        <b>beberapa orang bahkan tidak memiliki kepercayaan diri yang cukup</b> untuk memberikan ide/pendapat nya kepada orang lain. <br>
                        sebagian orang nya lagi merasa tidak ingin memberikan pendapat nya <b>dikarenakan penolakan yang terjadi di lingkungan terhadap diri nya selama ini</b>.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-sky-blue">
                <div class="card-body" style="color: white;">
                    <h5 class="card-title">Solution</h5>
                    <div class="card-text" style="text-indent: 2rem;" align="justify"> 
                        <b>Oleh karena itu</b> <span class="italic">Hachi Eight</span> ingin menjadi platform ter-untuk pemikir terbuka seperti kalian yang dapat ikut berkontribusi sebagai bagian dari kami.
                        <br> atau hanya menuliskan ide ide nya saja kepada kami, maka ide kalian akan di terbitkan untuk dilihat Publik, kami juga akan memberikan fitur privasi untuk menjaga
                        identitas sang ide creator.
                    </div>
                    <div class="card-text" style="text-indent: 2rem;" align="justify"> 
                        Selain itu kami menghadirkan berbagai artikel maupun hal hal baru yang mampu memberikan hal positif kepada Setiap 'Pemikir Terbuka'.                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-3">
                <div class="half-box"></div>
                <div class="card-body">
                    <h5 class="card-title"  style="font-size: x-large;">Generation</h5>
                    <div class="card-text" style="font-size: large;"> 
                        <b>Generation X (1965 - 1980), </b>
                        <b>Generation Y 'Millenial' (1980 - 1998), </b>
                        <b>Generation Z (1998 - 2011).</b><br>
                    </div>
                    <div class="card-text" style="text-indent: 2rem; font-size: large;" align="justify"> 
                        Tiap tiap generasi memiliki peranan nya masing masing dalam sebuah Perjalan Waktu,
                        Entah itu X, Y, Z. Ide tetaplah ide, mungkin akan ada perubahan dimana Ide atau Pendapat kalian tidak lagi menjadi Relevan.
                        Bukan berarti Ide/Pendapat itu tidak berarti Sama Sekali. <br>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card" style="height: auto;" align="right">
                <div class="card-body" style="padding: 5px; padding-bottom: 5px;">
                    <div class="card-text" style="letter-spacing: 10px;">
                        <i class="fab fa-whatsapp fa-2x pointer" style="color: grey;" onclick="window.open('https://wa.me/6285776919364')" title="whatsapp" ></i>
                        <i class="fa fa-envelope fa-2x pointer" style="color: grey;" title="Message" onclick="location.href = '#/question'"></i>
                        <i class="fab fa-facebook fa-2x pointer" style="color: grey;" title="Facebook" ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Recent Articles
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <img src="images/phone-1.png" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">Articles</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
class LandingDesc{
    get data(){
		return{

		}
	};
	get methods(){
		return{
			sendFeeds(){
				var data = {
					name: selectEl('.QuestionForm .name').value,
					email: selectEl('.QuestionForm .email').value,
					message: selectEl('.QuestionForm .message').value,
					date: new Date().getTime()
				};
	
				Api.save(data, response=>{
					console.log(response);
				});			
            },
            fillIdeas(){
                let el = selectEl(".idea-list");
                Api.getRecentIdeas(response=>{
                    for(let obj of response){
                        let btn = componentCreator.createButton("Read More", 'btn-primary',()=>{alert('under maintain')});
                        obj.message += "<br><br>"+btn;
                        let card = componentCreator.createCard(obj.name + " <br> " + obj.email, obj.message);
                        el.innerHTML += "".concat("<div class='col-md-4'>", card,"</div>");
                    } 
                });
            }
		}
    }
}
window.landingDesc = new LandingDesc();
class Api{
    static getRecentIdeas(onSuccess){
        // data['_path'] = 'feeds';
        // data['_paramName'] = 'getRecentIdeas';
        // GET(main.api, [''], onSuccess);
        onSuccess([
            {email: "collins.edward@gmail.com", name: "Edward Collins", message: "i want to made the new structure of webGL, whenever you are try to learn ...", date: new Date().getTime()},
            {email: "ziddandwiputra21@gmail.com", name: "Ziddan Strife", message: "Saya ingin memiliki sebuah situs dimana orang orang yang tidak memiliki ...", date: new Date().getTime()},
            {email: "******@******.com", name: "Anonim", message: "Saya memiliki ide untuk membuat aplikasi html builder untuk memudahkan pembuatan html sederhana ...", date: new Date().getTime()}
        ]);
    }
}
window.landingDesc.methods.fillIdeas();

</script>