<div>
    <div class="description-1 relative">
        <!-- <label class="moto">
            New Future in Your Hands.
        </label> -->
        <img src="images/phone-1.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="description-2 relative">
        <!-- <label class="moto" style="color: black;top: -10px;">
            Every Dashboard Know all acitivity
        </label> -->
        <img src="images/phone-2.png" class="img-fluid" alt="Responsive image">
    </div>
</div>