<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Selamat Datang</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hachi Eight Hadir Sebagai platform organisasi developer terbuka di indonesia</h6>
                    <p class="card-text">
                        Mulai untuk menjadi salah satu member kami, untuk ikut ambil bagian dari perubahan generasi di masyarakat indonesia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row hide">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    Recent Articles
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <img src="images/phone-1.png" class="card-img-top">
                        <div class="card-body">
                          <h5 class="card-title">Articles</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-1">
                <div class="half-box"></div>
                <div class="card-body" align="center">
                    <h5 class="card-title" style="font-size: x-large;">Your Chance</h5>
                    <div class="card-text" style="font-size: large;"> 
                        <label class="italic">"One More Time, One More Chance"</label><label class="bold">- Yamazaki Masayoshi</label>
                        <br> 
                        <label>
                            Sadarkah kamu kalau ini adalah kesempatan terbaik kamu untuk ikut bergabung dan mengawali perubahan besar untuk indonesia.
                            mungkin sudah terlalu banyak kesempatan yang terlewatkan untuk mu, namun belum berarti terlambat. Kami berupaya menyatukan berbagai Ide dan menerapkan nya secara langsung.
                            <br>Berikan ide mu atau bergabung lah menjadi salah satu dari Kami
                            <br>
                        </label>
                        <button type="button" class="btn btn-info" >Write Ideas</button>
                        <button type="button" class="btn btn-primary" >Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-2">
                <div class="half-box"></div>
                <div class="card-body">
                    <h5 class="card-title">Update Version</h5>
                    <div class="card-text"> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contradiction</h5>
                    <div class="card-text"> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-sky-blue">
                <div class="card-body">
                    <h5 class="card-title">Solution</h5>
                    <div class="card-text"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-type-3">
                <div class="half-box"></div>
                <div class="card-body">
                    <h5 class="card-title">Generation Z</h5>
                    <div class="card-text"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
